{% extends "base.html" %}
{% block content %}

<div class="container py-3 ">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Matrix</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Matrix 가이드</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Matrix 실행 파일 배포</li>
                        <li>Matrix 사용법 안내.</li>
                    </ul>
                    <a href="/matrix"><button type="button" class="w-100 btn btn-lg btn-primary">Go to Matrix</button></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">ContourShow</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">등고선 그래프 생성</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Flex / PXI Data를 등고선 그래프로 변환</li>
                        <li>Drive / Main Bias를 입력하세요.</li>
                    </ul>
                    <a href="/contourshow"><button type="button" class="w-100 btn btn-lg btn-primary">Go to ContourShow</button></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">FAQs</h4>
              </div>
              <div class="card-body">
                  <h1 class="card-title pricing-card-title">질문 게시판</h1>
                  <ul class="list-unstyled mt-3 mb-4">
                        <li>질문을 할 수 있는 게시판</li>
                        <li>정보를 쌓을 수 있는 아카이브</li>
                  </ul>
                  <a href="/pybo"><button type="button" class="w-100 btn btn-lg btn-primary">Go to FAQs</button></a>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}