{% extends "matrix/matrix_base.html" %}
{% block title %}
<title>Test Flow Management</title>
{% endblock %}
{% block main_contents %}
<div class="container ms-5">
<h1 class="mb-4">Test Flow Management</h1>
    <h3 class="mt-5" >용어 설명</h3>
    <ul>
        <li >
            <strong>테스트 아이템</strong>  : 독립적으로 특정한 역할을 하거나 특정한 테스트를 진행하는 개체
        </li>
        <li >
            <strong>테스트 Flow</strong> : 테스트 아이템들을 여러개 모아서 만든 집합으로 파일 형태로 관리됨
        </li>
    </ul>
    <h3 class="mt-5" >Flow 설정 화면</h3>
    <ul>
        <li><strong>Flow 선택창</strong> : 사용하고자 하는 Flow를 Load하는 콤보박스이다.</li>
        <li><strong>Flow 관리 버튼들</strong> : Flow를 복사, 삭제, 병합할 때 사용한다.</li>
        <li><strong>테스트 장비 설정</strong> : Flow당 하나만 존재하는 특수 아이템을 보여주며 이 아이템은 현재 Flow의 장비 및 옵션을 설정하는 역할을 한다. <a href="{% url 'matrix:program_guide' 'instrument' %}">(Instrument 시트 참조)</a></li>
        <li><strong>아이템 리스트창</strong> : 현재 Flow를 구성하고 있는 아이템들을 보여준다.</li>
        <li><strong>아이템 세부설정창</strong> : 현재 선택된 아이템의 각종 옵션들을 보여주고 수정할 수 있다.</li>
        <li class="mt-2 list-unstyled">
            <img src="/static/matrix/images/flow_1.png" class="img-fluid rounded" alt="flow_1">
        </li>
    </ul>
    <h3 class="mt-5" >아이템 추가</h3>
    <ul>
        <li>Edit 모드에서 Add 버튼을 누르면 아이템 선택창이 뜬다.</li>
        <li class="mt-2 list-unstyled">
            <img src="/static/matrix/images/flow_2.png" class="img-fluid rounded" alt="flow_2">
        </li>
    </ul>
    <h3 class="mt-5" >아이템 이동 또는 자리 바꾸기</h3>
    <ul>
        <li>아이템을 Drag & Drop으로 위 아래로 이동할 수 있다..</li>
        <li class="mt-2 list-unstyled">
            <img src="/static/matrix/images/flow_3.png" class="img-fluid rounded" alt="flow_3">
        </li>
    </ul>
</div>


{% endblock %}
